@import '../../styles/settings.scss';




 
  .subtitle {
    padding: ($base-size * 2) 0;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    font-weight: normal;
  }
 .cards{
color:black;
text-align: center;

 }
  
  