@import '../../styles/settings.scss';
.subtitle {
    padding: ($base-size * 2) 0;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    font-weight: normal;
  }
.card {
    position: relative;
    background: $color-light;
    border: 1px solid lighten($color-dark, 60%);
    padding: $base-size;
    margin: 0 0 $base-size 0;
    border-radius: $radius;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color:black;
}
.title {
    text-align: center;
    font-size: ($base-size * 1.5);
    margin: 0 0 ($base-size * 1.5) 0;
    
    
  }
  
  .button {
    padding-right: $base-size;
    color: $color-warning;
    font-size: ($base-size * 2);
    vertical-align: middle;
    position: relative;
    
    
  }
  .isActive {
    color: #e1b12c;
}


 
  
 
 